*{
    box-sizing: border-box;
}

header{
    background-color: transparent;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#search{
    background-image: url('/WeatherDashboard/Images/search.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 10px;
    border: transparent;
    margin-top: 2px;
}
#search:is(:hover , :focus){

}


body{
    /*background-color: linear-gradient();*/
   
    /* background: linear-gradient(to bottom, rgb(60, 16, 83),rgb(173, 83, 137) ); */
    background-image: url('/WeatherDashboard/Images/weather2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}
aside{
    width: 40%;
    height: 83vh;
    background-color: white;
    visibility: hidden;
    background-color: rgb(173, 83, 137);  
}
