*{
    box-sizing: border-box;
}

header{
           height: 160px;
           width: 100%;
           background-color:#002D62;
           margin-bottom: 5px;
           margin-top: 0px;    
           border-radius: 8px;
}

header span{
    font-family: Arizonia,cursive;
    font-size: 40px;
    color: white;
    font-weight: 600;
    display: block;
    margin: auto;
    width: 30%;
}
#search{
    position: relative;
    bottom: 8px;
    border-radius: 10px;
    border: transparent;
    width: 150px;
    transition: width 1s ease-out;
    padding: 7px;
    height: 30px;
    text-align: center;
    /* left: 160px; */
    right:-100px;
}
#search:is(:hover , :focus){
    width: 200px;
    box-shadow: 2px 2px blue  ;
}

button{
    position: relative;
    top: 3.5px;
    right: 3px;
    height: 33px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background-color: #0066b2;
    left: 160px;
}
/* header > div{
    margin: auto;
     width: 40%; 
} */
body{
    /*background-color: linear-gradient();*/
   
    /* background: linear-gradient(to bottom, rgb(60, 16, 83),rgb(173, 83, 137) ); */
    background-image: url('/WeatherDashboard/Images/weather2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    width: 95%;
}
#img{
    opacity: 1;
    transition: opacity 2s ease-in;
    width: 145px;
    height: 145px;
}
#cond_val_no{
    display: inline-flex;
    align-items: center;
    height: 100px;
    width: 100px;
    position: relative;
    text-align: center;
    bottom: 75px;
    left: 10px;
    background-color: black;
    font-size: 30px;
    border-radius: 10px;
    background-color:#0066b2;
}
#cond_val{
    position: relative;
    bottom: 70px;
    left: 160px;
    font-size: large;
}
aside{
    display: inline-block;
    position: absolute;
    width: 40%;
    height: 83vh;
    background-color: #0066b2;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    z-index: 1;
}

h1{
    font-weight: 900;
    text-align: center;
    background-color:#0066b2;
    color: white;
}
h2{
    display: block;
    color: white;
    margin: auto;
    margin-top: 10px;
    width: 150px;
    padding: 8px;
    background-color: #002D62;
    border-radius: 20px 0px ;
}
h3{
    display: inline;
    color: white;
    padding: 8px;
    background-color: #002D62;
}
.box-contanier{
    display: block;
    margin: auto;
    height: 150px;
    width: 300px;
    background-color: #002D62;
    border-radius: 10px;
}
.box-contanier:hover{
    box-shadow: 2px 2px 2px 2px blue;
    transform: scale(1.05);
}
.box-contanier2{
    background-color: #002D62;
    border-radius: 10px;
    /* padding-right: 85px; */
    
}


#humidity,#wind{
    /* width: 130px;
    height: 80px; */
    border-right: 2px solid white;
}
.contanier{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    padding-right: 20px;

}
#hum_val{
    align-self: center;
    font-size: large;
}
div > span{
    display: inline-block;
    position: relative;
    bottom: 40px;
    color: white;
}
